body {
  --sizeFactor: 1.2;
  --TINY: calc(var(--sizeFactor) * 0.6rem);
  --SCRIPTSIZE: calc(var(--sizeFactor) * 0.85rem);
  --FOOTNOTESIZE: calc(var(--sizeFactor) * 9.6rem);
  --NORMALSIZE: calc(var(--sizeFactor) * 1.2rem);
}
.math_css2 {
  font-family: KaTeX_Main;
  font-size: var(--NORMALSIZE);
  line-height: 1.2rem;
}

.math_letter {
  font-family: KaTeX_Math;
  font-style: italic;
}
.math_number {
  font-family: KaTex_Main;
}

.tiny {
  font-size: var(--TINY);
}
.scriptsize {
  font-size: var(--SCRIPTSIZE);
}
.normalsize {
  font-size: var(--NORMALSIZE);
}
